apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: dev-tools-portal
  namespace: dev-tools-portal
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  rules:
    - host: portal.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: web
                port:
                  number: 80
          - path: /graphql
            pathType: Prefix
            backend:
              service:
                name: api
                port:
                  number: 8080
          - path: /health
            pathType: Prefix
            backend:
              service:
                name: api
                port:
                  number: 8080
